<ion-view>
<ion-nav-title>API Test</ion-nav-title>
  <ion-content>

	 
		<h2>GMP-SAML Login Sandbox</h2>

	<hr />

	 <form>
	 
		Username:
		<br />
		<input type="text" ng-model="testUser.name" placeholder="o12345">
		<br /><br />
		
		Password:
		<br />
		<input type="password" ng-model="testUser.password">
		<br /><br />
		
		<button class="button" ng-click="getAssertion(testUser.name, testUser.password)">DO IT!</button>
		
	</form>

	<hr />

	<h1>RESPONSE</h1>
	<!-- <h3>{{apiStatus}}</h3> -->
	<div ng-bind-html="apiResponse">
	</div> 
	</ion-content>
</ion-view>